.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.side-bar-comp .loader-content {
  height: 100%;
}

.home-technical-tab-each, .home-reports-tab-each {
  position: relative;
  float: left;
  width: 150px;
  height: 73px;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 7px;
  padding: 8px;
  font-size: 13px;
  background: white;
  box-shadow: 0px 0px 5px grey;
  border-radius: 3px;
  cursor: pointer;
}

.home-reports-part, .home-technical-part, .home-graphs-part{
  clear: both;
  padding: 20px 0px;
}

.home-main-title {
  font-size: 20px;
}

.home-tech-title {
  font-weight: bold;
}

.home-tech-desc {
  font-size: 11px;
  font-weight: bold;
  color: #3c303094;
  line-height: 20px;
}

.home-reports-ico {
  background: #bbc7cc;
  border-radius: 50%;
  padding: 6px;
}

.home-reports-title {
  line-height: 16px;
  font-size: 11px;
  color: #3c303094;
  font-weight: 650;
}

.home-reports-tab-each {
  display: flex;
  align-items: center;
  gap: 7px;
  font-weight: bold;
  height: 60px;
}

.home-reports-add .home-reports-ico {
  background: #eff2f7;
}

.home-reports-add {
  color: #1274be;
  border: 1px dashed;
  background: transparent;
  box-shadow: none;
}
.home-reports-add .home-reports-title {
  color: #1274be;
}

.home-main-title-view-all {
  color: #1274be;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
  margin-right: 30px;
}

.home-main-title.reports-cover {
  display: flex;
  justify-content: space-between;
}

.home-start-convo {
  position: fixed;
  clear: both;
  bottom: 40px;
  right: 90px;
}

.home-convo-ico {
  border-radius: 50%;
  background: white;
  padding: 10px;
  box-shadow: 0px 0px 12px grey;
  cursor: pointer;
}

.login-page-cover {
  position: absolute;
  width: 40%;
  left: 0;
  right: 0;
  margin: auto;
  top: 30px;
  border: 1px dashed grey;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-page-cover div {
  width: 100%;
}

.technology-select-box {
  height: 360px;
}

.popupgrid-select-box {
  height: 450px;
}

.home-technology-green-check {
  position: absolute;
  top: 4px;
  right: 4px;
  background: green;
  padding: 2px;
  border-radius: 10px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.badge:empty {
  display: block !important;
}

.direct-add-field-button-cover {
  position: absolute;
  right: 20px;
}

.temp-section-control {
  position: absolute;
  float: right;
  display: flex;
  right: 0px;
  height: 100%;
  width: 100px;
  padding: 10px 0px;
  align-items: center;
  justify-content: space-around;
}

.section-controls-cover {
  border-left: 1px solid rgba(128, 128, 128, 0.4);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: initial;
  width: 100%;
}

.section-controls-cover > i {
  color: black;
  font-weight: bold !important;
  cursor: pointer;
}

.card-border {
  box-shadow: 0px 0px 4px 0px #808080b0;
  padding: 5px 0px;
  margin: 5px 0px;
}

.card-without-border {
  padding: 5px 0px;
  margin: 5px 0px;
}

.preview-back-button {
  font-weight: bold;
  font-size: 13px;
  margin: 5px 0px 20px;
  cursor: pointer;
}

.preview-back-button > i{
  top: -2px;
  position: relative;
}

.preview-accoridian-pop .title{
  background: rgba(209, 222, 232, 0.58) !important;
  padding: 10px !important;
  color: rgb(95, 125, 149) !important;
  font-weight: bold !important;
  flex: 1 1 0%;
  font-size: 1rem !important;
}

.preview-accordian-content {
  padding: 10px;
}

.preview-accoridian-pop {
  margin: 10px 0;
}

.action-flyout-form-cover {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 1px dashed grey;
  padding: 15px;
  border-radius: 3px;
}


.module-accordian-pad .content {
  padding-top: 10px !important;
}

.button-detail-settings {
  cursor: pointer;
  top: -10px;
  position: relative;
}

.orientation-pop-cover {
  display: flex;
  position: absolute;
  background: white;
  right: 13px;
  width: 250px;
  flex-wrap: wrap;
  padding: 10px;
  margin-top: 31px;
  box-shadow: grey 0px 0px 8px 1px;
  z-index: 999;
  font-weight: normal;
  color: black;
  flex-direction: column;
}

.orientation-pop-list-item {
  padding: 10px;
}

.orientation-pop-list-item:hover {
  background: #80808040;
  cursor: pointer;
}

.template-table-flex {
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
}

.table-column-cover {
  display: flex;
  grid-gap: 5px 10px;
  gap: 5px 10px;
  flex-wrap: wrap;
  padding: 10px 0;
}

.tempalte-table-title {
  font-weight: bold;
}

.template-each-tab-col-delete {
  justify-content: center;
  align-items: center;
  display: flex;
}

.template-grid-col {
  justify-content: space-evenly;
  display: flex;
  position: relative;
}

.template-each-tab-col {
  border: 1px solid grey;
}

.template-each-tab-col-upper-division {
  padding: 8px 0px 2px !important;
  background: #ecedef;
  border-bottom: 1px solid grey;
}

.template-each-tab-col-upper-division > div {
  padding: 5px 6px 0px;
}

.template-each-tab-col-type {
  padding: 2px 6px 3px !important;
}

.template-add-col-cover {
  border: 1px dashed #1274B7;
  color: #1274B7;
  text-align: center;
  display: block;
  /* height: 100%; */
  font-size: 12px;
  width: 130px;
  padding: 30px 0px !important;
  line-height: 30px;
  cursor: pointer;

}

.template-add-col-cover span {
  font-size: 34px;
}

.template-each-tab-col-type {
  display: flex;
}

.add-new-section i:first-child {
  font-size: 0.7rem !important;
  padding: 0px 7px !important;
  top: -1px;
  position: relative;
}

.add-new-section i {
  border: 0 !important;
}

.add-new-section {
  border-right: 1px solid rgba(128, 128, 128, 0.4);
  color: black;
  font-size: 11px;
  padding-right: 5px;
}

#honeywell-custom-flyout {
  left: 60%;
  position: absolute !important;
  width: 40%;
  margin: 0 !important;
  animation-name: flyoutLeft;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}

@keyframes flyoutLeft {
  0%   {opacity:0; left:100%;}
  100%  {opacity:1; left:60%;}
}

#flyout-search-modal {
  position: absolute !important;
  width: 50%;
  margin: 0 !important;
  animation-name: flyoutSearch;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}

#flyout-search-modal .p-datatable-wrapper {
  max-height: 300px;
  overflow: auto;
}

@keyframes flyoutSearch {
  0%   {opacity:0; left:100%;}
  100%  {opacity:1; left:50%;}
}

.new-section-pop {
  width: 300px;
  z-index: 5;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.custom-add-sec-pop {
  position: relative;
  top: -33px;
  float: right;
  right: 97px;
/*   float: right;
  margin-top: -52px;
  margin-right: 60px; */
}

.new-section-add-button {
  margin: auto;
}

.marginConfigureFields {
  margin-top: 37px;
  cursor: pointer;
}

.red-asterisk-mandatory {
  color: red;
}

.create-tempalte-add-controls-style {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  height: 110px;
}

.create-tempalte-add-controls-style > div:first-child {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.search .ui.search-wrap {
  display: block;
}

.create-temp-tab-name {
  margin-bottom: 4px;
}

#red-batch {
  display: inline-block !important;
}

.global-search-type .ui.search-wrap{
  max-width: 100% !important;
}

.global-search-type .ui.search-wrap .ui.search.ui-search .ui.input {
  min-width: 40px !important;
  max-width: 100%;
  width: 100%;
}
.module-triple-select {
  display: inline-block;
  padding: 0 !important;
}

span.find-table-actions {
  font-weight: bold;
  color: black;
  border: 0px solid;
  height: 30px;
  position: relative;
  display: block;
}

th.find-table-header span {
  font-weight: bold !important;
  color: black !important;
}

span.find-table-actions i {
  font-weight: bold !important;
  color: black;
  margin: 0px 10px;
  cursor: pointer;
}

span.find-table-actions i:last-child {
  margin: 0;
}

.module-page-tab-cover {
  width: 100%;
  display: flex;
  border: 0px solid;
  gap: 1px;
  /* align-items: center; */
  /* background: black; */
}

.module-page-each-tabs {
  border: 1px solid;
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: #00000008;
  cursor: pointer;
  font-weight: bold;
}

.module-page-content-loader {
  border: 1px dashed grey;
  padding: 5px;
  position: relative;
  top: 2px;
}

.configuration-back-button {
  cursor: pointer;
}

.configuration-modal-content {
  border-top: 1px solid lightgrey;
}

.configuration-footer {
  border-top: 1px solid lightgrey !important;
}

.popup-modal {
  height: 70% !important;
}

.popup-content {
  height: calc(45vh);
}

.confirmation-modal {
  height: 25% !important;
}
.preview-radio-button > div {
  position: relative !important;
  top: 20px;
  left: 20px;
}
.addButtonStyle {
  align-items: left;
  margin-left: -30px;
}

.module-conf-table thead tr {
  height: 40px;
}

.module-config-action-bar {
  color: black;
}

.module-config-title {
  font-weight: bold;
  height: 40px;
}

.drag-cursor {
  cursor: all-scroll;
  z-index: 100;
}

.preview-radio-button > div {
  position: relative !important;
  top: 20px;
  left: 20px;
}

.preview-accoridian-pop .title > i {
  margin-top: -24px;
  
}

.accordion.ui.fluid>:first-child {
  border-top: 0px solid transparent !important;
}

.configuration-modal-content.scrolling.content {
  height: 100%;
}

.configuration-modal-content .scuf-list-wrapper {
  height: 50px;
  /* border: 1px solid; */
}

.configuration-modal-content .scuf-listitem-wrapper {
  padding: 0 !important;
}

.configuration-modal-content .item {
  margin: 0;
  padding: 0.5rem 0px !important;
}
.data-modal{
  width:50% !important;
  height: 95% !important;
}
.data-modal-footer{
  justify-content: center !important;
}

.table-row-group{
  max-height:250px;
  overflow:auto;
  display:inline-block;
}

.table-row-group th{
  width:100%;
} 

.test-creation-footer button{
  margin-top: 10px !important;
}

.common-select{
  width:90% !important;
}

.range-data-modal{
  margin:20px;
}